.wrapper {
   margin-top: 50px;
}
.title {
   margin-bottom: 40px;
}

.list {
   display: flex;
   align-items: center;
   column-gap: 20px;
   font-size: 30px;
   text-transform: uppercase;
}
.itemLi {
   cursor: pointer;
   background-color: rgb(15, 196, 15);
   padding: 10px;
   color: white;
}
.itemActive {
   cursor: pointer;
}
