@import "./function.scss";
@import "./Reset.scss";

body {
   background-color: rgba(222, 184, 135, 0.616);
}

.convert {
   display: flex;
   align-items: center;
   justify-content: space-around;
}
